body{
    background-color:#eaf6f6;
}
h1{
    color: #3C5186;
}
h3
{
    color: #9B72AA;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color : grey;
    border-width : 5px;
    width : 5%;
}