h1 {
    color : red;
    font-size: 100px;
}
img:hover{
   background-color: gold; 
}

/*******CLASS SELECTOR ***********/
.bacon{
    background-color :red;
}
.brocali{
    background-color :green;
}
.circular{
    border-radius: 50%;
}
/*******ID SELECTOR ***********/
#heading{
    color:blue;
}